<h1>Movies</h1>

<ul>
  <% Movie.all.each do |movie| %>
    <li><%= movie.title %>
        <%= movie.overview %>
        <%= movie.rating %></li>
  <% end %>
</ul>

<%= link_to 'Go to Lists', lists_path(@list) %>
