.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-cancel {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #6a757e;
  transition: background 0.3s ease;
}
