// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/shared";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "tom-select/dist/css/tom-select.css";
@import "star-rating.js/dist/star-rating.css";

// Your CSS partials
@import "components/index";
@import "pages/index";
